.box {
display : flex ;
flex-direction: row;
justify-content:space-around;
align-items:center;

}
h2 {
     display : flex ;
     font-style: italic;
     color: #253f7c;
     font-size:400%;
     justify-content: center;  
     align-items: center;   

   
}
body{
    background-color: #77A6C0;
}